/VS2015 用.lnk
/packages/MySql.Data.6.9.9/CHANGES
/packages/MySql.Data.6.9.9/MySql.Data.6.9.9.nupkg
/packages/MySql.Data.6.9.9/Readme.txt
/packages/MySql.Data.6.9.9/content/app.config.transform
/packages/MySql.Data.6.9.9/content/web.config.transform
/packages/MySql.Data.6.9.9/lib/net40/MySql.Data.dll
/packages/MySql.Data.6.9.9/lib/net45/MySql.Data.dll
